<ion-content fullscreen>
  <div class="bg-image no-scroll">
    <ion-grid style="padding-bottom: unset;" class="web-hide">
      <ion-row>
        <ion-col style="padding-bottom: unset;">
          <div class="back-button">
            <ion-img [src]="'../assets/images/back_button.png'" routerLink='/welcome'></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="padding-top: unset;">
      <ion-row justify-content-center align-items-center>
        <ion-col size-md="6" size-lg="4" size-xl="2">
          <ion-img [src]="'../assets/images/log_in_title.png'"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="margin-top: 3%;">
      <ion-row justify-content-center align-items-center>
        <ion-col size-lg="6" size-md="8" size-xl="3">
          <div class="base-view">
            <div class="login-view" >
              <div padding>
              <ion-label *ngIf="!forgotPassword; else emailLabelForForgottenPassword" class="lable-font" position="stacked">{{appService.getAppLabels(appLables.EMAIL)}}<ion-text color="danger">*</ion-text>
                </ion-label>
                <ng-template #emailLabelForForgottenPassword>
                  <ion-label class="lable-font" position="stacked" style="font-size: 14px;">{{appService.getAppLabels(appLables.EMAIL_LABEL2)}}<ion-text color="danger">*</ion-text>
                  </ion-label>
                </ng-template>
                <ion-input required type="email"  class="input-field" [(ngModel)]="email" [placeholder]="appService.getAppLabels(appLables.EMAIL)"></ion-input>
              </div>
              <div padding *ngIf="forgotPassword" style="padding-top: unset;">
                <a class="forgotpassword" (click)="forgotPassword = false">{{appService.getAppLabels(appLables.BACK_2_LOGIN)}}</a>
              </div>
              <div padding *ngIf="!forgotPassword">
                <ion-label class="lable-font" position="stacked">{{appService.getAppLabels(appLables.PASSWORD)}}<ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="password"  class="input-field-pass" [(ngModel)]="password" placeholder="******"></ion-input>
                <a class="forgotpassword" (click)="forgotPassword = true" style="margin-top: 10px;">{{appService.getAppLabels(appLables.FORGOT_PASSWORD)}}</a>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="margin-top: 3%;">
      <ion-row justify-content-center align-items-center>
        <ion-col size-md="5" size-xl="2" size-lg="3">
          <ion-button expand="block" fill="clear" class="btn-block" (click)="login()">
            <img src="../assets/images/next.png" />
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>