<ion-content fullscreen>
  <div class="bg-image no-scroll">
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size-md="6" size-lg="4" size-xl="2">
          <img src="../assets/images/terms-condition.png" />
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size-lg="6" size-md="8" size-xl="4">
          <div class="base-view">
            <div class="terms-view">
              <div class="terms-container" padding>
                <div class="terms-text">
                  <p><strong>Official Rules and Terms (English)&nbsp;</strong></p>
                  <table>
                    <tbody>
                      <tr>
                        <td rowspan="2">
                          <p>Please read these Official Rules and Terms carefully before using the
                            http://www.vitasoy80th.com
                            website and 80<sup>th</sup> Vitasoy Mahjong Game mobile application operated by Vitasoy North America,
                            Inc.
                            (Vitasoy North America). <br /><br />Your chance to enter and win the game is conditioned on
                            your acceptance of and compliance with
                            these Official Rules and Terms. These Rules and Terms apply to all visitors, users and
                            others who
                            access or use 80th Vitasoy Mahjong Game.<br /><br />Upon successfully registering for the
                            game, you agree to be bound by these Terms. If you disagree
                            with any part of the terms then you may not access the
                            game.<br /><br /><strong>Eligibility</strong><br />All Entrants hereby agree and
                            acknowledge that they may win the Contest but not be eligible for a prize.<br />Game is only
                            open to individuals who are 13 years of age or older at the time of entry (unless otherwise
                            stated). The Game is only available to consumers of Vitasoy products residing in the US or
                            Canada. By entering the Game, entrants agree to waive any and all claims against Contest
                            Entities for personal injury, damage or loss of any kind which may result from participation
                            in the Contest or the receipt, enjoyment, ownership or use of any prize.<br /><br />We are
                            solely responsible for determining whether an Entrant is eligible and for disqualifying
                            ineligible Entrants. We may, at our sole and exclusive discretion, disqualify an Entrant if
                            we believe in good faith that the Entrant has violated any terms of the Contest or is
                            ineligible for any reason outlined in the Rules or Terms of Use. Decisions to disqualify an
                            Entrant are final. Disqualified Entrants are not eligible for prizes.<br /><br /><strong>How
                              to Enter</strong>. PURCHASE OF SPECIALISED VITASOY/VITA PRODUCT NECESSARY to receive Game
                            QR code. <br />Purchase any specially packaged Vitasoy or Vita Tea 6-pack drinks to obtain
                            unique QR code to participate in the game during Contest Period (see Contest/Game Period).
                            One (1) purchase of specially packaged 6-pack Vita/Vitasoy drink will receive one (1) QR
                            code. The QR codes are unique and can only be used once for Gameplay. <br /><br /></p>
                          <p>To enter:<br />1. Fill in the Registration form with valid contact information and submit
                            it by following the on-screen instructions during the Game Period noted on the entry form
                            page. Multiple entries will be disqualified. Gameplay generated by script, macro, bot, or
                            other automated means will be disqualified.<br />2. Scan the QR code received from your
                            6-pack purchase to draw a set of Mahjong tiles.<br />3. Different combinations of winning
                            tiles will equate to more points. See &ldquo;Score Board&rdquo; on the app page for point
                            system.<br />4. &ldquo;Top Players&rdquo; will show you how you rank against other players
                            in your USA/Canada region. Scan more to increase your chances of receiving more
                            points!<br />5. You can also add 80th Vitasoy Mahjong Game to your Home Screen to receive an
                            additional 1000 points.<br /><br /><strong>Contest/Game Period</strong><br />80th Vitasoy
                            Mahjong Game and 80th Website will be live at 10:00 a.m. EST on April 1, 2020, and ends at
                            11:59 p.m. on May 31, 2020. Vitasoy North America Inc. will reserve the right, in its sole
                            discretion, to modify, suspend, or extend the duration of the Contest/Game period for any
                            reason. Visit our website at <a href="https://vitasoy-na.com/">https://vitasoy-na.com/</a>
                            for updates. <br /><strong><br /></strong><strong>Winner Selection and
                              Notification</strong><strong><br /></strong>The top 3 highest-scoring players per region
                            (<em>see Regions</em>) will be selected as the winners upon the end of the Game period
                            (<em>see Contest/Game Period</em>). The Entrant regions are determined at the time of
                            registration, identified by their indicated Postal Code. The Winners will be notified
                            through the email and/or through phone if he/she provided their number upon registering for
                            the Game within ten (10) days after the Game end period. In the case that they do not
                            provide a mobile number on the form, Vitasoy will only contact them through email. Vitasoy
                            NA shall have no liability for Winner&rsquo;s failure to receive notices due to spam, junk
                            e-mail or other security settings or for Winner&rsquo;s provision of incorrect or otherwise
                            non-functioning contact information. If Winner cannot be contacted, is ineligible, fails to
                            claim the prize within ten (10) days from the time award notification was sent, or fails to
                            timely return a completed and executed declaration and release as required, the prize may be
                            forfeited and an alternate winner will be selected based on the next highest-scoring player
                            per their region. To successfully claim the Prize, Vitasoy NA must receive the
                            Winner&rsquo;s signed and completed <a
                            target="_blank" href="https://firebasestorage.googleapis.com/v0/b/mahjong-c2571.appspot.com/o/legal%2FDeclarationAndWaiveroORelease.pdf?alt=media">Vitasoy
                              Mahjong Claim Declaration Form</a>. Receipt of the Prize offered in this Campaign is
                            conditioned upon compliance with any and all federal, state/provincial, local laws and
                            regulations.</p>
                          <br />
                          <p><strong>Prizes </strong><br />Three (3) Prizes are awarded per region (see Regions) at a
                            total of twelve (12) Prizes to be given out. There is a limit of one (1) Prize per Eligible
                            Entrant. The prize will be an exclusive limited edition Vitasoy-branded (Crystal) Mahjong
                            tile set approximately with a market value of USD 200 dollars.</p>
                          <br />
                          <p><strong>Regions&nbsp;</strong></p>
                          <p>Vitasoy NA has divided Canada and USA each into two (2) separate regions, characterized by
                            the relative East and West location of the province/territory/state: East Canada, West
                            Canada, East USA, West USA. East Canada encompasses ON, QV, NB, PE, N S, NL; West Canada
                            encompasses MB, SK, AB, BC, NU, NT, YT; East USA encompasses MN, IA, MO, AR, LA, WI, IL, TN,
                            MS, AL, GA, FL, SC, NC, VA, WV, KY, IN, OH, PA, MI, NY, VT, NH, ME, MA, RI, CT, NJ, DE, MD,
                            DC; West USA encompasses ND, SD, NE, KS, OK, TX, MT, WY, CO, NM, AK, ID, UT, AZ, NV, WA, OR,
                            CA, HI.&nbsp;</p>
                          <p><br /><strong>Privacy and publicity rights</strong><br />By accepting the Prize, the
                            Winner(s) agree to allow Vitasoy North America, Game Sponsors, and their respective
                            subsidiaries and affiliates, promotional and advertising agencies and representatives the
                            right to use his/her photos, regional information and/or likeness and statements for
                            programming, promotion, trade, commercial, advertising and publicity purposes in connection
                            with this Contest, at any time or times, in all media now known or hereafter discovered,
                            worldwide, including but not limited to on television, video, the World Wide Web and
                            Internet, without notice, review or approval and without additional compensation, except
                            where prohibited by law.&nbsp;</p>
                          <p><br />Vitasoy North America respects your right to privacy. Personal information collected
                            from Entrants will only be used by Vitasoy North America to administer the Contest and for
                            the purposes of administering this incentive and, only if consent is actively given at the
                            time of entry, to provide Entrants with information regarding upcoming promotions and/or
                            events from Vitasoy North America. For more information regarding the manner of collection,
                            use, and disclosure of personal information by Vitasoy North America, please refer to
                            Vitasoy North America privacy policy, available at https://vitasoy-na.com/privacy-policy/
                          </p>
                          <br />
                          <p><strong>官方規則和條款</strong></p>
                          <br />
                          <p>請在使用http://www.vitasoy80th.com和Vitasoy North America, Inc. (Vitasoy NA) 80周年Vitasoy麻將
                            遊戲應用程式前仔細閱讀以下官方規則和條款。</p>
                          <br />
                          <p>您參加和贏得比賽的機會取決於您是否接受並遵守這些規則和條款。這些規則和條款適用於所
                            有訪問或使用80周年維他奶麻將遊戲的訪客、用戶和其他人。</p>
                          <br />
                          <p>凡參加此遊戲參加者，即表示其了解並同意接受這些條款的約束。如果你不同意條款的任何部
                            分，你將無法進入遊戲。</p>
                          <br />
                          <p><strong>參加資格</strong></p>
                          <p>
                            此遊戲只對13歲或13歲以上的人士開放（除非另有說明），並只對居住在美國或加拿大的維他
                            奶產品消費者開放。參賽者進入遊戲後，即同意放棄對參賽者因參與遊戲或因獲得、享用、擁
                            有或使用任何獎品而可能造成的任何人身傷害、損害或損失的任何及所有索賠。
                          </p>
                          <p>
                            維他奶北美對參賽者是否符合資格擁有唯一及最終決定權，並有權取消其參加資格。如本公司
                            確實認為參賽者違反了活動的任何條款，或由於任何原因而不符合規則及條款中所述的資格，
                            本公司可自行決定取消參賽者的資格。取消參加或得獎資格的決定是最終決定。被取消資格的
                            參賽者將不能獲取任何獎品。
                          </p>
                          <br />
                          <p><strong>參加活動辦法</strong></p>
                          <p>凡購買或獲得任何四月上架的維他奶或維他茶6包裝飲品，參加者將獲得獨特的二維碼參與遊
                            戲。購買6包飲品將獲得一個二維碼。每個二維碼只限使用一次，並只有一次參加遊戲的機會
                            。</p>
                          <br />
                          <ol>
                            <li>在報名表上填寫有效的聯絡資料，並在報名表上列明的比賽期間內，按照遊戲內的說明
                              提交。每人限開一個帳戶。多次註冊者將被取消資格。任何採用非人工方式玩遊戲之參
                              加者將被取消資格。</li>
                            <li>掃描6盒包裝產品附上的二維碼以取得一款麻將牌組合。</li>
                            <li>更好的麻將組合相當於更高的分數。有關積分系統，請參見應用程式上的「贏取組合
                              」。</li>
                            <li>點擊 「玩家排名」頁面來查看您自己和其他玩家在你地區中的排名。掃描更多二維碼
                              以增加你獲得更高積分的機會！</li>
                            <li>您還可以將80周年維他奶麻將遊戲加至手機主畫面以獲取額外1000分。</li>
                          </ol>
                          <br />
                          <p><strong>活動推廣期</strong></p>
                          <p>本活動由2020年4月1日上午10時0分開始至2020年5月31日晚上11時59分結束。</p>
                          <p>
                            本活動規則中提及的所有時間和日期均為東部標準時間（EST）。登記資料及時間，將以本公
                            司伺服器所收獲之數據作準，逾期無效。維他奶北美公司有權全權自行決定以任何理由修改、
                            延長、或暫停活動／活動推廣期。
                          </p>
                          <br />
                          <p><strong>獎品細則</strong></p>
                          <p>
                            每個地區（即加拿大、美國）在活動期間將送出三份獎品，全部地區合共送出十二份獎品。每
                            位合資格參賽者限中獎一次。獎品將是限量版Vitasoy獨家麻將牌乙份，價值200美元。所有獎
                            品不可兌換現金，維他奶北美公司保留更換同等價值獎品的權利。
                          </p>
                          <br />
                          <p><strong>得獎者公佈時間和渠道</strong></p>
                          <p>
                            每個地區（即加拿大、美國）的前三名高分選手將在比賽結束時（見「活動推廣期」）被選為
                            得獎者，並將獲得價值200美元的限量版Vitasoy麻將牌乙份。在遊戲結束後十（10）天內，本
                            公司會根據參加者提供的電郵地址或手機號碼通知得獎者。如得獎者沒有在表格上提供手機號
                            碼，本公司只會透過電子郵件聯絡他們。如因得獎者所提供的個人資料不實及/或錯誤或因其他
                            任何非本公司之原因以致無法聯絡得獎者或核實其身份，或得獎者無法收到領獎通知，或得獎
                            者不符合資格、或未能在得獎通知發出後十 （10）天內領取獎品，或未能按要求提交已填妥的
                            聲明和授權協議書，其得獎資格將會被取消，本公司將不會負上任何責任或作任何形式之補償
                            。本公司將在其所在地區中，選出下一個高分參賽者成為得獎者。得獎者必須遵守任何及所有
                            聯邦、州（省）和地方法律法規，以確保其參加及得獎資格。
                          </p>
                          <br />
                          <p><strong>隱私和公開權</strong></p>
                          <p>
                            維他奶北美尊重您的隱私權。從參賽者處收集的個人資訊將僅由維他奶北美公司用於管理比賽
                            ，並且只有在參賽時得到授權同意，才能向參賽者提供有關維他奶北美公司即將進行的促銷和/
                            或活動的資訊。有關維他奶北美公司收集、使用和披露個人資訊渠道的更多資訊，請參閱維他
                            奶北美隱私政策, <a
                              href="https://vitasoy-na.com/chi/privacy-policy/">https://Vitasoy-na.com/chi/privacy-policy/</a>。
                          </p>
                          <br />
                          <p>
                            得獎者接受獎項後，同意允許維他奶北美公司、活動贊助商及其各自的子公司和附屬公司、文
                            宣和廣告代理機構和代表有權使用其姓名、地區訊息、影像、照片和/或肖像和聲明進行節目、
                            文宣、貿易、商業文宣，用於與本次比賽相關的廣告和文宣目的，在任何時間，在現有的或以
                            後出現的全球所有媒體上。其中包括電視、視頻、萬維網和互聯網上等。屆時，除法律禁止的
                            之外，無需通知、審查或準予，也無需額外補償。
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size-md="5" size-xl="2" size-lg="3">
          <ion-button expand="block" fill="clear" class="btn-block" (click)="accepted()">
            <img src="../assets/images/accept.png" />
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size-md="5" size-xl="2" size-lg="3">
          <ion-button expand="block" fill="clear" class="btn-block" (click)="rejected()">
            <img src="../assets/images/decline.png" />
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
