<ion-content fullscreen>
  <div class="bg-image no-scroll">
    <div class="back-button back-btn-alignment">
      <ion-img [src]="'../assets/images/back_button.png'" routerLink="/welcome"></ion-img>
    </div>
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size-lg="6" size-md="8" size-xl="4">
          <div class="base-view">
            <div class="terms-view">
              <div class="terms-container" padding>
                <div class="terms-text">
                  <p><strong>How to Play (English)&nbsp;</strong></p>
                  <table>
                    <tbody>
                      <tr>
                        <td rowspan="2">
                          <p>
                            1. Enter the game by enrolling and creating your account in the next page. <br /><br />
                            2. Login to your account on www.vitasoy80th.com and scan the QR code you've received with
                            the purchase of any specially-packaged 6-pack Vita or Vitasoy drink. <br /><br />
                            3. You will receive a winning combination of mahjong tiles. Different sets of winning
                            mahjong sets mean more points! <br /><br />
                            4. Check your total score and winning mahjong combos in the "My Score" page.<br /><br />
                            5. You can check "Top Players" to see how you rank against your region!<br /><br />
                            6. If you add the Mahjong web game as a shortcut on your Home Screen, you can receive an
                            additional 1000 points. <br /><br />

                            Disclaimer: Entrants must be a resident of USA or Canada at the time of account
                            registration. <br /><br />
                          </p>
                          <p><strong>遊戲玩法 &nbsp;</strong></p>
                          <p>
                            1. 在下一頁註册並建立帳戶來進入遊戲。<br /><br />
                            2. 登入www.vitasoy80th.com，掃描任何特殊包裝的維他或維他奶6包裝飲品上的二維碼。<br /><br />
                            3. 您將獲得一手麻將牌。更好的手牌意味著更多的積分！<br /><br />
                            4. 在“得分記錄”頁面查看您的總分數和贏得的麻將組合。<br /><br />
                            5. 你可以在“得分記錄”頁面中查看你的總分數。<br /><br />
                            6. 如果將維他奶麻將遊戲添加到桌面，則可以獲取額外1000點積分。<br /><br />

                            免責聲明：玩家必須在遊戲期間是美國或加拿大居住民才能領取獎品。<br /><br />
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>