<ion-content fullscreen>
  <div *ngIf="!showTermsAndConditionView; else showTermsAndCondition">
    <ion-grid class="bg-image no-scroll">
      <ion-grid style="padding-bottom: unset;padding-top: unset;" class="web-hide">
        <ion-row>
          <ion-col style="padding-bottom: unset;">
            <div class="back-button">
              <ion-img [src]="'../assets/images/back_button.png'" routerLink='/welcome'></ion-img>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row justify-content-center align-items-center>
          <ion-col size-md="6" size-lg="4" size-xl="2">
            <img src="../assets/images/sign_up_title.png" />
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row justify-content-center align-items-center>
          <ion-col size-lg="6" size-md="8" size-xl="4">
            <div class="base-view">
              <div class="login-view">
                <form>
                  <div padding class="form-group">
                    <ion-label class="lable-font" position="stacked">{{appService.getAppLabels(appLabels.FIRST_NAME)}}<ion-text color="danger">*
                      </ion-text>
                    </ion-label>
                    <ion-input required type="text" class="input-field" [(ngModel)]="userDetails.firstName"
                      [ngModelOptions]="{standalone: true}"></ion-input>
                  </div>
                  <div padding class=" form-group">
                    <ion-label class="lable-font" position="stacked">{{appService.getAppLabels(appLabels.LAST_NAME)}}<ion-text color="danger">*
                      </ion-text>
                    </ion-label>
                    <ion-input required type="text" class="input-field" [(ngModel)]="userDetails.lastName"
                      [ngModelOptions]="{standalone: true}"></ion-input>
                  </div>
                  <div padding class=" form-group">
                    <ion-label class="lable-font" position="stacked">{{appService.getAppLabels(appLabels.EMAIL)}}
                    </ion-label>
                    <ion-input required type="email" class="input-field" [(ngModel)]="userDetails.email"
                      [ngModelOptions]="{standalone: true}"></ion-input>
                  </div>
                  <div padding class=" form-group">
                    <ion-label class="lable-font" position="stacked">{{appService.getAppLabels(appLabels.ADDRESS)}}
                    </ion-label>
                    <ion-textarea rows="6" cols="20" class="input-field" [(ngModel)]="userDetails.address"
                      [ngModelOptions]="{standalone: true}"></ion-textarea>
                  </div>
                  <div padding class=" form-group">
                    <ion-label class="lable-font" position="stacked">{{appService.getAppLabels(appLabels.MOBILE_NUMBER)}}
                    </ion-label>
                    <ion-input required type="number" class="input-field" [(ngModel)]="userDetails.mobileNumber"
                      [ngModelOptions]="{standalone: true}"></ion-input>
                  </div>
                  <div padding class=" form-group">
                    <ion-label class="lable-font" position="stacked">{{appService.getAppLabels(appLabels.PASSWORD)}}<ion-text color="danger">*
                      </ion-text>
                    </ion-label>
                    <ion-input required type="password" class="input-field" [(ngModel)]="password"
                      [ngModelOptions]="{standalone: true}"></ion-input>
                  </div>
                  <div padding class=" form-group">
                    <ion-label class="lable-font" position="stacked">{{appService.getAppLabels(appLabels.CONFIRM_PASSWORD)}}<ion-text
                        color="danger">
                        *</ion-text>
                    </ion-label>
                    <ion-input required type="password" class="input-field" [(ngModel)]="confirmPassword"
                      [ngModelOptions]="{standalone: true}"></ion-input>
                  </div>
                </form>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row justify-content-center align-items-center>
          <ion-col size-md=" 5" size-xl="2" size-lg="3">
            <ion-button expand="block" fill="clear" class="btn-block" (click)="switchToTermsAndConditionView()">
              <img src="../assets/images/next.png" />
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </div>
  <ng-template #showTermsAndCondition>
    <app-terms-condition (termsaccepted)="register()"></app-terms-condition>
  </ng-template>
</ion-content>