<ion-content fullscreen style="background-color: #f1f1f1;">
  <ion-grid style="margin-top: 20%;">
    <ion-row justify-content-center align-items-center>
      <ion-col size="10">
        <div class="heading">Registration successful!</div>
        <div class="msg"> Start drawing mahjong tiles to earn points! Add Vitasoy Mahjong Game as a shortcutto your Home Screen.You can earn an extra 1000 points!</div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col size="12">
        <img src="../assets/images/star-bg.png" />
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col size="10">
        <div class="heading">註冊成功！</div>
        <div class="msg">把維他奶麻將應用程式添加到桌面能獲取額外1000分！</div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col size="6">
        <ion-button style="height: fit-content;" expand="block" fill="clear" class="btn-block" (click)="close()">
          <img src="../assets/images/add_to_home_screen_button_no.png" />
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button style="height: fit-content;" expand="block" fill="clear" class="btn-block" (click)="AddtoHome()">
          <img src="../assets/images/add_to_home_screen_button_yes.png" />
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>