<ion-content fullscreen style="background-color: #f1f1f1;">
  <div class="back-button back-btn-alignment">
    <ion-img [src]="'../assets/images/back_button.png'" (click)="close()"></ion-img>
  </div>
  <ion-grid size="10" Style="margin-top: 7%;">
    <ion-row justify-content-center align-items-center>
      <ion-col size="10">
        <div class="heading">
          To add Vitasoy Mahjong Game to your home screen, please take the following steps:
        </div>
        <div class="msg">
          <ng-container *ngIf="isSafari; else isChrome">
            <ol>
              <li>
                {{ appService.getAppLabels('SAFARI_ADD_TO_HOME_STEP_1_EN')}}
              </li>
              <li>
                {{ appService.getAppLabels('SAFARI_ADD_TO_HOME_STEP_2_EN')}}
              </li>
              <li>
                {{ appService.getAppLabels('SAFARI_ADD_TO_HOME_STEP_3_EN')}}
              </li>
            </ol>
          </ng-container>
          <ng-template #isChrome>
            <ol>
              <li>
                {{ appService.getAppLabels('CHROME_ADD_TO_HOME_STEP_1_EN')}}
              </li>
              <li>
                {{ appService.getAppLabels('CHROME_ADD_TO_HOME_STEP_2_EN')}}
              </li>
              <li>
                {{ appService.getAppLabels('CHROME_ADD_TO_HOME_STEP_3_EN')}}
              </li>
            </ol>
          </ng-template>    
        </div>
        <div class="footer">
          {{ appService.getAppLabels('ADD_TO_HOME_FINAL_MSG_EN')}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col size="12">
        <img src="../assets/images/star-bg.png" />
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col size="10">
        <div class="heading">
          {{ appService.getAppLabels('ADD_TO_HOME_STEPS_HEADER_CH')}}
        </div>
        <div class="msg">
          <ng-container *ngIf="isSafari; else isChrome_ch">
            <ol>
              <li>
                {{ appService.getAppLabels('SAFARI_ADD_TO_HOME_STEP_1_CH')}}
              </li>
              <li>
                {{ appService.getAppLabels('SAFARI_ADD_TO_HOME_STEP_2_CH')}}
              </li>
              <li>
                {{ appService.getAppLabels('SAFARI_ADD_TO_HOME_STEP_3_CH')}}
              </li>
            </ol>
          </ng-container>
          <ng-template #isChrome_ch>
            <ol>
              <li>
                {{ appService.getAppLabels('CHROME_ADD_TO_HOME_STEP_1_CH')}}
              </li>
              <li>
                {{ appService.getAppLabels('CHROME_ADD_TO_HOME_STEP_2_CH')}}
              </li>
              <li>
                {{ appService.getAppLabels('CHROME_ADD_TO_HOME_STEP_3_CH')}}
              </li>
            </ol>
          </ng-template>    
        </div>
        <div class="footer">
          {{ appService.getAppLabels('ADD_TO_HOME_FINAL_MSG_CH')}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>