<ion-content fullscreen>
  <div class="bg-image no-scroll">
    <ion-grid style="padding-bottom: unset;" class="web-hide">
      <ion-row>
        <ion-col style="padding-bottom: unset;">
          <div class="back-button">
            <ion-img [src]="'../assets/images/back_button.png'" routerLink='/welcome'></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="padding-top: unset;">
      <ion-row justify-content-center align-items-center style="padding-top: 20%;">
        <ion-col class="label-not-found">
          <label>404 PAGE NOT FOUND</label>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center style="">
        <ion-col class="not-found-text">
          <label>The  page you are looking for might have been removed has its name changed or is temporarily unavailable.</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>