<ion-content fullscreen>
  <ion-grid class="bg-image">
    <ion-grid style="padding-bottom: unset;padding-top: unset;">
      <ion-row>
        <ion-col style="padding-bottom: unset;">
          <div class="back-button">
            <ion-img [src]="'../assets/images/back_button.png'" routerLink='/home'></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size-md="8" size-lg="6" size-xl="4">
          <ion-row>
            <ion-col size="7"><img src="../assets/images/my_score_logo.png" style="float: left;" /></ion-col>
            <ion-col size="5" align-self-end>
              <div class="player-info" style="float: right;margin-right: 17px;">
                <div class="player-card" style="text-align: -webkit-center;">
                  <div class="serialNo player-label" align-self-center>276726</div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size-lg="6" size-md="8" size-xl="4">
          <div class="base-view">
            <div class="login-view">
              <div class="previous-score">
                <ng-container *ngFor="let data of userHistory">
                  <div padding>
                    <ion-label class="lable-font" style="float: left;padding-top: 4px;">{{data.tileName}}</ion-label>
                    <ion-label class="lable-font" style="float: right;">
                      <label class="scoreplus">+{{data.tileScore}}</label> X <div class="scorex"> {{data.tileCount}}
                      </div>
                    </ion-label>
                  </div>
                  <div class="card-image" padding>
                    <ion-img style="border-bottom: 2px solid lightgrey; padding-bottom: 15px;" [src]="data.tileUrl">
                    </ion-img>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>