<!-- -->
<ion-content fullscreen>
  <div class="bg-image no-scroll">
    <ion-grid style="padding: unset;">
      <ion-row justify-content-center align-items-center style="background-color: #294161;">
        <ion-col size-lg="8" size-xl="6" style="padding: unset;">
          <ion-img [src]="'../assets/images/banner.jpg'"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="background-color: #1d2d43;">
      <ng-container *ngIf="!isLargeScreen; else gridLayout">
        <ion-row>
          <ion-col>
            <ion-slides pager="true" [options]="slideOpts"  #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" class="slider">
              <ion-slide>
                <div class="slider-img">
                  <img class="new-img-prop" [src]="'../assets/images/front1_1.jpeg'" />
                  <ion-row justify-content-center align-items-center>
                    <ion-button expand="block" fill="clear" style="top: 15%;position: absolute;" class="btn-block"
                      routerLink="/users/register">
                      <img [src]="'../assets/images/sign_up.png'" />
                    </ion-button>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <ion-button expand="block" fill="clear" style="top: 38%;position: absolute;" class="btn-block"
                      routerLink="/users/login">
                      <img [src]="'../assets/images/log_in.png'" />
                    </ion-button>
                  </ion-row>
                  <ion-row justify-content-center align-items-center>
                    <ion-button expand="block" fill="clear" style="top: 60%;position: absolute;" class="btn-block"
                      routerLink="/howtoplay">
                      <img [src]="'../assets/images/playguide.png'" />
                    </ion-button>
                  </ion-row>
                </div>
              </ion-slide>
              <ion-slide>
                <div class="slider-img">
                  <img class="new-img-prop" [src]="'../assets/images/front2.jpg'" />
                  <ion-row justify-content-center align-items-center>
                  <ion-button expand="block" fill="clear" style="top: 75%;position: absolute; width: fit-content;" class="btn-card"
                    (click)="visitNow()" justify-content-center align-items-center>
                    <div style="color: white;">
                      <div>Play now</div>
                      <div style="padding-top: 10px;">開始遊戲</div>
                    </div>
                  </ion-button>
                </ion-row>
                </div>
              </ion-slide>
              <ion-slide>
                <div class="slider-img">
                  <img class="new-img-prop" [src]="'../assets/images/front3.jpg'" />
                  <ion-row justify-content-center align-items-center>
                  <ion-button expand="block" fill="clear" style="top: 75%;position: absolute; width: fit-content;" class="btn-card"
                    (click)="watchNow()">
                    <div style="color: white;">
                      <div>Play now</div>
                      <div style="padding-top: 10px;">開始遊戲</div>
                    </div>
                  </ion-button>
                  </ion-row>
                </div>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-template #gridLayout>
        <ion-row justify-content-center align-items-center style="margin-top: 1%; margin-bottom: 1%;">
          <ion-col size-lg="3" size-xl="2" style="padding: unset;">
            <ion-card>
              <img [src]="'../assets/images/front1_1.jpeg'" routerLink="/users/register" style="cursor: pointer;" />
              <ion-row justify-content-center align-items-center>
                <ion-button expand="block" fill="clear" style="top: 15%;position: absolute;" class="btn-block"
                  routerLink="/users/register">
                  <img [src]="'../assets/images/sign_up.png'" />
                </ion-button>
              </ion-row>
              <ion-row justify-content-center align-items-center>
                <ion-button expand="block" fill="clear" style="top: 40%;position: absolute;" class="btn-block"
                  routerLink="/users/login">
                  <img [src]="'../assets/images/log_in.png'" />
                </ion-button>
              </ion-row>
              <ion-card-header class="card-header">
                <ion-card-title class="card-font">Mahjong Game</ion-card-title>
                <ion-card-subtitle class="card-font">麻將遊戲                                                                                          </ion-card-subtitle>
                <ion-row justify-content-center align-items-center style="text-align: center;">
                <ion-button expand="block" fill="clear" class="btn-card" routerLink="/howtoplay">
                  <div style="color: white;">
                    <div>HOW TO PLAY</div>
                    <div style="padding-top: 10px;">遊戲玩法</div>
                  </div>
                </ion-button>
                </ion-row>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-lg="3" size-xl="2" style="padding: unset;">
            <ion-card>
              <img [src]="'../assets/images/front2.jpg'" />
              <ion-card-header class="card-header">
                <ion-card-title class="card-font">"Slice it" Mini game</ion-card-title>
                <ion-card-subtitle class="card-font">小遊戲</ion-card-subtitle>
                <ion-row justify-content-center align-items-center style="text-align: center;">
                <ion-button expand="block" fill="clear" class="btn-card" (click)="visitNow()">
                  <div style="color: white;">
                    <div>Play now</div>
                    <div style="padding-top: 10px;">開始遊戲</div>
                  </div>
                </ion-button>
              </ion-row>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-lg="3" size-xl="2" style="padding: unset;">
            <ion-card>
              <img [src]="'../assets/images/front3.jpg'" />
              <ion-card-header class="card-header">
                <ion-card-title class="card-font">“Truck It” Mini game</ion-card-title>
                <ion-card-subtitle class="card-font">小遊戲</ion-card-subtitle>
                <ion-row justify-content-center align-items-center style="text-align: center;">
                <ion-button expand="block" fill="clear" class="btn-card" (click)="watchNow()">
                  <div style="color: white;">
                    <div>Play now</div>
                    <div style="padding-top: 10px;">開始遊戲</div>
                  </div>
                </ion-button>
                </ion-row>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ng-template>
    </ion-grid>
    <ion-grid style="padding-top: 2%; padding-bottom: 2%;">
      <ion-row justify-content-center align-items-center style="text-align: center;">
        <ion-col size-lg="3" size-xl="2">
          <a href="https://twitter.com/myvitasoy" style="text-decoration: none;" target="_blank">
            <span class="socicon-twitter socicon social-icon"></span>
          </a>
          <a href="https://www.facebook.com/MyVitasoy" style="text-decoration: none;" target="_blank">
            <span class="socicon-facebook socicon social-icon"></span>
          </a>
          <a href="https://www.instagram.com/myvitasoy/" style="text-decoration: none;" target="_blank">
            <span class="socicon-instagram socicon social-icon"></span>
          </a>
          <h6 style="font-size: 14px; color: white;">© 2020 VITASOY NORTH AMERICA INC®.<br> ALL RIGHTS RESERVED</h6>
        </ion-col>
        <!-- <a href="https://www.youtube.com/c/mobirise" target="_blank">
              
          </a>
          <a href="https://www.behance.net/Mobirise" target="_blank">
              
          </a> -->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
