.bg-image {
    background: url('../../assets/images/background_green.png');
    background-size: cover;
    min-height: 100vh;
  }
  
  .no-scroll .scroll-content {
    overflow: hidden;
  }

  .btn-block {
    height: auto;
  }

  .scanicon {
      text-align: center;
  }

  .input-field-qr {
    border: 1px solid lightgrey;
    border-radius: 6px;
    background-color: white;
  }

  .qrinput-btn {
    padding: 12px;
    background-color: #EBE6E2;
    box-shadow: 0 10px 0 green !important;
    border-radius: 12px;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  ion-content {
    background: transparent !important;
 }
 

 :host zxing-scanner::ng-deep video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
 }


 zxing-scanner:before {
  position: absolute;
  content: "";
  height: 300px;
  width: 300px;
  border: 5px solid lightsteelblue;
  border-radius: 15%;
  opacity: 0.5;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.back-btn-alignment {
  position: absolute;
  z-index: 10;
  padding-top: 5px;
  padding-left: 5px;
}
.logout-btn {
  position: absolute;
  z-index: 10;
  right: 0;
  padding-right: 10px;
  margin-top: -20px;
  width: 60px;
  height: 60px;
}
.boldText {
  font:  bold;
}
